*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8f8f8;
}

header{
    background:#d32f2f;
    color:white;
    padding:18px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.hero{
   .hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
    margin-bottom:30px;
}

.btn{
    background:#ff9800;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:8px;
    font-size:20px;
    transition:.3s;
}

.btn:hover{
    background:#e68900;
}
}

.btn{
    background:#ff9800;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    text-decoration:none;
    font-size:20px;
}